.theme-dark .cm-slash-comment {
	color: var(--code-comment);
}

.theme-light .cm-slash-comment {
	color: var(--code-comment);
}

/* Editor */
.cm-slash-hide {
	position: absolute;
	left: -9999px;
}

/* Reader */
.theme-dark .cm-slash-comment-container {
	color: var(--code-comment);
}
.theme-light .cm-slash-comment-container {
	color: var(--code-comment);
}
